/* 페이드 인 + 아래에서 위로 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

/* 둥둥 떠있는 애니 */
@keyframes floating{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,20px);}
 } 


/* .weather {
    position: relative;
    animation: fadeInUp;
} */
.container{
    position: relative;
    animation: floating 1s infinite alternate ;
}


